* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 148, 148);
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 54px;
    height: 54px;
    position: relative;
}

.black {
    background-color: rgb(66, 62, 107);
}

.white {
    background-color: rgb(167, 165, 135);
}

.selected {
    background: rgb(184, 36, 68);
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgba(59, 167, 110, 0.55);
}