* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --board-size: 64px;
    --cell-size: var(--board-size);
    --available-size: 12px;
    --background-selected: rgb(184, 36, 68);
    --background-available: rgba(59, 167, 110, 0.55);
    --background-highlight: green;
    --background-black: rgb(66, 62, 107);
    --background-white: rgb(167, 165, 135);
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 148, 148);
    user-select: none;
}

.board {
    width: calc(var(--board-size) * 8);
    height: calc(var(--board-size) * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.cell img {
    width: calc(var(--cell-size) - 10px);
    height: calc(var(--cell-size) - 10px);
}

.black {
    background-color: var(--background-black);
}

.white {
    background-color: var(--background-white);
}

.selected {
    background-color: var(--background-selected);
}

.highlight {
    background-color: var(--background-highlight);
}

.available {
    height: var(--available-size);
    width: var(--available-size);
    border-radius: 50%;
    background-color: var(--background-available);
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}